@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pixelify";
  src: url("./assets/PixelifySans.ttf");
}

@font-face {
  font-family: "poppins";
  src: url("./assets/Poppins.ttf");
}
